/** @format */
.logo-text {
  font-family: "Fira Sans" !important;
  font-size: 22px !important;
  font-weight: 600 !important;
  text-transform: capitalize !important;
  text-decoration: none;
  position: relative;
  color: black;
  cursor: pointer;
}
.Nav-Bar-Menus {
  display: flex;
  justify-content: space-around;
}
.Nav-Bar-Menus a {
  font-family: "Fira Sans";
  font-size: 18px;
  font-weight: 600;
  text-transform: capitalize;
  text-decoration: none;
  position: relative;
  color: black;
  cursor: pointer;
}
.Nav-Bar-Menus .active {
  color: #ef534e;
}

/* ///////////
 */
.mobile-drawer-box {
  display: grid;
  grid-template-rows: 30px auto;
  justify-content: center;
  align-items: center;
}
.mobile-drawer-closeIcon {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ef534e;
}
.mobile-drawer-closeIcon :active {
  color: #ef534e;
}

.mobile-drawer-listitem a {
  font-size: 18px !important;
  font-weight: 600 !important;
  font-family: "Fira Sans" !important;
  text-transform: capitalize !important;
  text-decoration: none !important;
  padding: 15px !important;
  color: #272522 !important;
}
.mobile-drawer-listitem .moblie-active-link {
  color: #ef534e;
}

@media only screen and (min-width: 300px) and (max-width: 600px) {
  .header-logo {
    position: relative;
    left: 210px;
  }
}
